
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Variables de colores */
:root{
    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #323638;
    --icon-color: #323638;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selecd-color: #355CC0;
    --background-seleced: #E8F0FF;
    --background-hover: #bfd5fe;

    --border-color: #E6E9ED;
}

/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */

body{
    width: 100%;
    height: 100vh;
    background-color: #F0F8FF;
    font-family: "Poppins", sans-serif;
}

/* Header */

header{
    position: fixed;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
    top: 0;
    left: 0;
}
/*left*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
/*MEnu*/
.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
    transition: all 0.2s ease;
}
.menu.menu-toggle div:first-child{
    width: 40%;
    transform: rotate(-35deg) translate(-30%,175%);
}
.menu.menu-toggle div:last-child{
    width: 40%;
    transform: rotate(35deg) translate(-30%,-160%);
}
/*brand*/
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .logo{
    width:2.6rem ;
}
.brand .name{
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-title-color);
}
/*right*/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.right a:hover{
    background-color: var(--background-hover);
}

.right img{
    width: 2.1rem;
    margin: 0.5rem;
}
.right .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*Sidebar*/
.sidebar{
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: whitesmoke;
    transition: width 0.5s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.sidebar.menu-toggle{
    width: 18.75rem;
}
.sidebar a{
    display: flex;
    align-items: center;
    gap:  1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.sidebar a:hover{
    background-color: var(--background-hover);
}
.sidebar img{
    width: 1.6rem;
}

/*Main*/
main{
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: margin-left 0.5s ease;
    
}
main.menu-toggle{
    margin-left: 18.75rem;
}

/*h1,label*/


/*Encabezado*/

.encabezado{
    background-color: #80bfff;
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: margin-left 0.5s ease;
}
.encabezado.menu-toggle{
    margin-left: 18.75rem;
}



@media (max-width:500px) {
    .brand .name{
        font-size: 1.5rem;
    }
    .right .icons-header{
        display: none;
    }
    .sidebar{
        width: 0;
    }
    main{
        margin-left: 0;
    }
    main.menu-toggle{
        margin-left: 0;
    }
    #contenido table{
        font-size: 0.9rem;
    }
    .encabezado{
        margin-left: 0;
    }
    .encabezado.menu-toggle{
        margin-left: 0;
    }
    .encabezado select{
        width: 90px;
        font-size: 0.9rem;
    }
    .encabezado button{
        width: 85px;
        font-size: 0.9rem;
    }
    .row{
        width: 100%;
        display: flex;
    }
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem, 0.3rem);
    }
    .menu.menu-toggle div:nth-child{
        opacity: 0;
    }
    .menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem, -0.3rem);
    }
}