@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Variables de colores */
:root{
    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #323638;
    --icon-color: #323638;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selecd-color: #355CC0;
    --background-seleced: #E8F0FF;
    --background-hover: #bfd5fe;

    --border-color: #E6E9ED;
}

/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */

body{
    width: 100%;
    background-color: #69B3E4
}

/* Header */    

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    top: 0;
    left: 0;
}
/*left*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
/*MEnu*/
.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
}

/*brand*/
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .logo{
    width:2.6rem ;
}
.brand .name{
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-title-color);
}
/*right*/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.right a:hover{
    background-color: var(--background-hover);
}

.right img{
    width: 2.1rem;
    margin: 0.5rem;
}
.right .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main .fondo{
    width: 100%;
    height: 250px;
    padding: 20px;
    display: flex;
    background-color: white;
}
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 15s slide infinite;
}

.slide{
    position: relative;
    width: 25%; 
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    height: 500px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}
@media (max-width:500px) {
    .right .icons-header{
        display: none;
    }
    .right{
        gap: 0.3rem;
    }
    .left{
        margin-right: 5px;
    }
    .sidebar{
        width: 0;
    }
    main{
        margin-left: 0;
    }
    main.menu-toggle{
        margin-left: 0;
    }
    #contenido table{
        font-size: 0.9rem;
    }
    .encabezado{
        margin-left: 0;
    }
    .encabezado.menu-toggle{
        margin-left: 0;
    }
    .encabezado select{
        width: 90px;
        font-size: 0.9rem;
    }
    .encabezado button{
        width: 85px;
        font-size: 0.9rem;
    }
    .row{
        width: 100%;
        display: flex;
    }
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem, 0.3rem);
    }
    .menu.menu-toggle div:nth-child{
        opacity: 0;
    }
    .menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem, -0.3rem);
    }
}

